.gallery_main{
    margin: 150px auto;
}
.gallery_main .box{
    overflow: hidden;
}
.gallery_main img{
    height: 500px;
    width: 100%;
    object-fit: cover;
}
.gallery_main .box:hover img{
    -o-transform: scale(1.1);
    transform: scale(1.1);
    cursor: pointer;
}