@import url('https://fonts.googleapis.com/css2?family=Besley:ital,wght@0,400..900;1,400..900&display=swap');

:root {
    --main: #f60b0b;
}
* {
    font-family: "Besley", serif;
    transition: 0.3s;
}

*::selection {
    background: var(--main);
    color: #fff;
}

html::-webkit-scrollbar{
    width: 10px;
}

html::-webkit-scrollbar-thumb{
    background: var(--main);
}
html::-webkit-scrollbar-track{
    background: #000;
}
body {
    overflow-x: hidden;
}
